:root 

/* Main */

/* Body */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

.list {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
color: #404bbf;
}

.header-adress-link:hover,
.header-adress-link:focus {
color: #404bbf;
}

/* Header */

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-adress {
  font-style: normal;
}

.header-adress-link {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-link {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
}

.hero-button:hover {
background-color: #404BBF;
}

.hero-button:focus {
background-color: #404BBF;
}

.hero-main {
  background: #2e2f42;
}

.hero {
  background-color: #2e2f42;
}

.ourteam {
background-color: #F4F4FD
}

.ourteam-title {
  background-color: #F4F4FD;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.ourteam-list-item {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.about-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.ourteam-list {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.ourportfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;}

.about-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.members {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}


.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #f4f4fd;
}

.app-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.app-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer {
background-color: #2e2f42;
}

.footer-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}
